extends ../layouts/adminLayout

block content
	.panel.panel-default.panel-table
		.panel-heading
			.row
				.col.col-xs-6
					h3.panel-title Products List
				.col.col-xs-6.text-right
					button.btn.btn-sm.btn-primary.btn-create(type='button') Create New
		.panel-body
			table.table.table-striped.table-bordered.table-list
				thead
					tr
						th
							em.fa.fa-cog
						th Order
						th Category ID
						th Name
						th Description
						th Price
						th Avatar
				tbody
					- var i = 0;
					each product, index in productsList
						tr
							td(align='center')
								a.btn.btn-default.btn-edit(href = "/admin/products/edit_product/"+ product._id.toString())
									em.fas.fa-pencil-alt
								a.btn.btn-danger.btn-delete(href = "/admin/products/delete_product/"+ product._id.toString())
									em.fa.fa-trash
							td= index + 1 + (perPage * (page - 1))
							td= product.category_id
							td= product.name
							td= product.description
							td= product.price
							td
								img.avatar(src =product.avatar)
		.panel-footer
			.row
				.col.col-xs-4
					| Page #{page} of #{lastPage }
				.col.col-xs-8
					ul.pagination.hidden-xs.pull-right
						- var pagePrev = page - 1;
						- var pageNext = page + 1;
						each item in pageNumber
							if (item === 'First')
								li
									a(href='/admin/products/list_products?page=1')= item
							else if (item === 'Next')
								li
									a(href='/admin/products/list_products?page='+ pageNext)= item
							else if (item === 'Prev')
								li
									a(href='/admin/products/list_products?page=' + pagePrev)= item
							else if (item === 'Last')
								li
									a(href='/admin/products/list_products?page=' + lastPage)= item
							else if (item != 'First' && item != 'Next' && item != 'Prev' && item != 'Last')	
								if (item == page)
									li.active
										a(href='/admin/products/list_products?page=' + item)= item
								else
									li
										a(href='/admin/products/list_products?page=' + item)= item

