doctype html
html(lang='')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// Bootstrap CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
		link(rel="stylesheet", href="/styles/cart/order.css")
		link(rel="stylesheet", href="/styles/index.css")
		link(rel="stylesheet", href="/styles/info-item.css")
	body
		nav.navbar.navbar-default(role='navigation')
			.container
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					a(href = "/home")
						img(src='img/logo.png', alt='')
				.step
					.step-item.step1.active
						span Thông tin nhân hàng
					.step-item.step2.active
						span Dịch vụ vận chuyển
					.step-item.step3.active.curren
						span Hình thức thanh toán
					.step-item.step4
						span Đặt hàng
		.main
			.container
				form#checkout(action='/cart/checkout?order='+orderId, method = "POST")
					.main-content
						.select-info
							.add-info
								.select-title
									h2
										i.fas.fa-map-marker-alt
										|  Thông tin người nhận
								.add-content
									.form-group
										input#name.form-control(type='text', name='name', required='')
										label.control-label(for='name')
											span Tên người nhận
											span.err( style = "display : none; color : red") Nhập tên người nhận
									.form-group
										input#phone.form-control(type='text', name='phone', required='')
										label.control-label(for='phone')
											span Số điện thoại
											span.err( style = "display : none; color : red")  Nhập SDT
									.form-group
										select#distric.form-control(name='distric')
										label.control-label.distric(for='distic')
											span Quận/Huyện
									.form-group
										select#ward.form-control(name='ward')
										label.control-label.ward(for='ward')
											span Phưòng/Xã
									.form-group
										input#add.form-control(type='text', name='add', required='')
										label.control-label(for='add')
											span Địa chỉ
											span.err( style = "display : none ; color : red")  Nhập địa chỉ
							.ship-info
								.select-title
									h2
										i.fas.fa-shuttle-van
										| Chọn dịch vụ vận chuyển
								.ship-content(disable)
									table.table.table-bordered
										thead
											tr
												th Dịch vụ - Nhà vận chuyển
												th Thời gian giao hàng dự kiến
												th Phí vận chuyển
										tbody.service-item
							.pay-info
								.select-title
									h2
										i.fas.fa-money-bill-wave
										| Hình thức thanh toán
								.pay-content
									each item in pay
										.pay-item
											input(type = 'radio', name = 'pay', value = item._id.toString(), id = item._id.toString())
											label(for = item._id.toString())
												span
												.pay-tt
													.pay-name= item.name
													.pay-description= item.description
						.info-order
							.order-title
								h2 Thông tin đơn hàng
							.order-content
								each product in productArray
									.order-item
										.pr-nc
											.name-pr= product.name
											.count-pr
												input(type='number', value= (parseFloat(product.quantity)).toFixed(1) readonly)
												span.unitCheckout= product.unit
										.pr-ap
											.ava-pr
												img(src= product.avatar[0], alt='')
											.price-pr
												span x #{product.priceFormat}
							.order-blance
								.order-curr
									h4 Tong tien 
										span.total(name = "total") #{total}
								.servie-fee
									h4 Phí vận chuyển
								button.btn.btn-default.btn-checkout(type = "submit") Đặt hàng
		footer.footer-about
			.container
				.row
					.col-md-4
						.info-item
							.info-icon
								.icon
									i.fas.fa-phone
							.info-content
								.content
									h5 Hotline
									h5 0973.648.655
					.col-md-4
						.info-item
							.info-icon
								.icon
									i.fas.fa-home
							.info-content
								.content
									h5 Địa chỉ
									h5 88 - Đinh Công Tráng - TP Vinh - NA
					.col-md-4
						.info-item
							.info-icon
								.icon
									i.fas.fa-envelope
							.info-content
								.content
									h5 Email
									h5 hungphan5995@gmail.com
					.col-md-4
						.us-about
							.us-title
								p Về chúng tôi 
								hr.title-ngang
							.about-content
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quam obcaecati, dolorum inventore sunt est, atque iure aspernatur totam ea natus libero distinctio, fugit aperiam error tempore, ducimus incidunt laborum.
					.col-md-4
						.us-about
							.us-title
								p Hỗ trợ 
								hr.title-ngang
							.about-content
								ul
									li
										a(href='')
											i.fas.fa-angle-double-right
											| Tư vấn
									li
										a(href='')
											i.fas.fa-angle-double-right
											| Khuyến mãi
									li
										a(href='')
											i.fas.fa-angle-double-right
											| Về chúng tôi
									li
										a(href='')
											i.fas.fa-angle-double-right
											| Thanh toán
					.col-md-4
						.us-about
							iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3779.908487981681!2d105.67654901442823!3d18.66810206951883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139ce7b7cb7346d%3A0x259b035e16b8e9a!2zODggxJBpbmggQ8O0bmcgVHLDoW5nLCBMw6ogTWFvLCBUaMOgbmggcGjhu5EgVmluaCwgTmdo4buHIEFuIDQyOTk5LCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1538642076216', width='100%', height='100%', frameborder='0', style='border:0', allowfullscreen='')
		.copy-right
			.container
				.copy-content
					p
						| 2015 Bản quyền thuộc về 
						span Trái cây
				.design-about.pull-right
					p Thiết kế và phát triển bởi Go Go
		// jQuery
		script(src='//code.jquery.com/jquery.js')
		script(src='https://code.jquery.com/jquery-1.9.1.min.js', integrity='sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=', crossorigin='anonymous')
		script(src="https://unpkg.com/axios/dist/axios.min.js")
		script(src='./js/order.js',  LANGUAGE = 'Javascript')
